<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>An application requests access to your data!</h1>
<form action="{{.action}}" method="POST">
    <input type="hidden" name="challenge" value="{{.challenge}}">
    <input type="hidden" name="_csrf" value="{{.csrfToken}}">

    {{if .client.LogoUri}}
        <img src="{{.client.LogoUri}}"/>
    {{end}}

    <p>
        Hi {{.user}}, application <strong>{{ .client.ClientId }}</strong>
        wants access resources on your behalf and to:
    </p>

    {{ range .requested_scope }}

        <input class="grant_scope" type="checkbox" id="{{ . }}" value="{{ . }}" name="grant_scope">
        <label for="{{ . }}">{{ . }}</label>
        <br>
    {{ end }}

    <p>Do you want to be asked next time when this application wants to access your data? The application will
        not be able to ask for more permissions without your consent.</p>

    <ul>
        {{if .client.PolicyUri}}
            <li>
                <a href={{.client.PolicyUri}}>Policy</a>
            </li>
        {{end}}

        {{if .client.TosUri}}
            <li>
                <a href={{.client.TosUri}}>Terms of Service</a>
            </li>
        {{end}}
    </ul>
    <p>
        <input type="checkbox" id="remember" name="remember" value="1">
        <label for="remember">Do not ask me again</label>
    </p>
    <p>
        <input type="submit" id="accept" name="submit" value="Allow access">
        <input type="submit" id="reject" name="submit" value="Deny access">
    </p>
</form>
</body>
</html>
